{% extends 'layout.html' %}
{% block title %}
    经销商操作台
{% endblock %}
{% block content %}
<div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">生成订单<span class="sr-only">(current)</span></a></li>
            <li><a href="#">查看已提交订单</a></li>
            <li><a href="#">已完成订单</a></li>
            <li><a href="#">统计分析</a></li>
          </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">生成订单</h1>
          <form id="Make Order", action="/dealer/makeorder/", method="POST">
               {% csrf_token %}
              <table class="form-table">
                  {{ form.as_table }}
                  </table>
              <p class="submit"><input type="submit" name="submit" id="submit" class="button-primary" value="提交"  /></p>
          </form>

          </div>

          <h2 class="sub-header">订单列表</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>经销商</th>
                  <th>车厂</th>
                  <th>车型</th>
                  <th>金额</th>
                  <th>当前状态</th>
                </tr>
              </thead>
              <tbody>
              {% for car in cars %}
                <tr>
                  <td>{{ car.id }}  </td>
                  <td>{{ car.dealer }}  </td>
                  <td>{{  car.factory  }}</td>
                  <td>{{ car.model }}  </td>
                  <td>{{car.amount }}</td>
                  <td><a href="bank/car/{{ car.id }}"> 查看 </a></td>
                </tr>
              {% endfor %}

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
{% endblock %}