{% extends 'layout.html' %}
{% block title %}
    经销商操作台
{% endblock %}
{% block content %}
<div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="/dealer/makeorder">生成订单<span class="sr-only">(current)</span></a></li>
            <li><a href="/dealer/orderlist">查看已提交订单</a></li>
            <li><a href="/dealer/allorderlist">全部订单</a></li>
            <li><a href="#">统计分析</a></li>
          </ul>
        </div>

        <div class="col-sm-12 col-sm-offset-3 col-md-10 col-md-offset-2 main" >
          <div class="col-sm-12 ">
          <h1 class="page-header">生成订单</h1>
          <form id="Make Order", action="/dealer/makeorder/", method="POST">
               {% csrf_token %}
              <table class="form-table">
                  {{ form.as_table }}
                  </table>
              <p class="submit"><input type="submit" name="submit" id="submit" class="button-primary" value="提交"  /></p>
          </form>
            </div>


        </div>
        </div>
      </div>
{% endblock %}