{% extends 'layout.html' %}
{% block title %}
    物流监管操作台
{% endblock %}
{% block content %}
<div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">

            <li class="active"><a href="/logistics">交货管理<span class="sr-only">(current)</span></a></li>
            <li><a href="/logistics/geo">地理位置更新</a></li>
            <li><a href="#">统计分析</a></li>
          </ul>
        </div>

        <div class="col-sm-12 col-sm-offset-3 col-md-10 col-md-offset-2 main" >

         <!--div class="row placeholders" -->
          <h2 class="sub-header">订单列表</h2>
          <div class="table-responsive">
            <table class="table table-striped" align="left">
              <thead>
                <tr>
                  <th>订单号#</th>
                  <th>经销商</th>
                  <th>车厂</th>
                  <th>车型</th>
                  <th>车架号</th>
                  <th>当前位置</th>
                  <th>当前状态</th>
                </tr>
              </thead>
              <tbody>
              {% for car in orders %}
                <tr>
                  <td>{{ car.OrderID }}  </td>
                  <td>{{ car.Dealer }}  </td>
                  <td>{{  car.Factory  }}</td>
                  <td>{{ car.Model }}  </td>
                  <td>{{car.CarID }}</td>
                  <td>{{ car.Location}}</td>
                  <td>{% if car.Status == 0 %} 待放款
                       {% elif car.Status == 1 %}已放款
                      {% elif car.Status == 3 %}已发车
                      {% elif car.Status == 4 %}已还款
                      {% elif car.Status == 5 %}已交车
                      {% else %}状态未知
                  {% endif %}</td>
                   <td>{% if car.Status == 4 %}<a href="deliver/{{ car.OrderID }}"> 发货 </a>{% endif %}</td>
                </tr>
              {% endfor %}

              </tbody>
            </table>
          </div>
         <!--/div-->
        </div>
        </div>
      </div>

{% endblock %}