{% extends 'layout.html' %}
{% block title %}
    系统状态
{% endblock %}
{% block content %}
<div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="/bank">银行界面 </a></li>
            <li><a href="/dealer">经销商界面</a></li>
            <li><a href="/manufacturer">车厂界面</a></li>
            <li><a href="/logistics">物流监管界面</a></li>
            <li class="active"><a href="/translist">交易列表<span class="sr-only">(current)</span></a></li>
            <li ><a href="/status">区块状态</a></li>
          </ul>
        </div>

        <div class="col-sm-12 col-sm-offset-3 col-md-10 col-md-offset-2 main" >
          <div class="col-sm-12 ">
              {% if errormsg %}
              <h1 class ="page-header">{{ errormsg }}</h1>
              {% else %}
          <h1 class="page-header">交易状态</h1>
              <h3 class="sub-header">chaincodeID</h3>
               {{ chaincode.chaincodeID }}
              <h3 class="sub-header">交易数据</h3>
              {{ chaincode.payload }}
              <h3 class="sub-header">uuid</h3>
              {{ chaincode.uuid }}
              <h3 class="sub-header">时间戳</h3>
              {{ chaincode.timestamp }}
              <h3 class="sub-header">随机数</h3>
              {{ chaincode.nonce }}
              <h3 class="sub-header">证书</h3>
              {{ chaincode.cert }}
              <h3 class="sub-header">签名</h3>
              {{ chaincode.signature }}
          </div>
            {% endif %}
          <div class="col-sm-12 ">

          </div>

        </div>
        </div>
      </div>
{% endblock %}